# More strings, Dictionaries, more operators and iterators, files, CSV

In [ ]:
import matplotlib.pyplot as plt

# Example: compute the Fibonacci sequence using *recursion*

1, 1, 2, 3, 5, 8, 13

In [ ]:
def fib(n):
    """Return the Fibonacci sequence up to position n.
    
    n is an integer"""
    # Check that our assumptions are true
    assert type(n)==int
    assert n>0
    
    # special cases for short lists
    if n == 1:
        return [1]
    if n == 2:
        return [1,1]
    
    seq = fib(n-1)
    a = seq[-2]
    b = seq[-1]
    seq.append( a+b )
    return seq

fib(3)

In [ ]:
fib(4)

In [ ]:
fib(10)

## More strings

[`str`](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str)

Useful methods:

- `strip`
- `split`
- `startswith`
- `endswith`

In [ ]:
"   my string    ".strip()

In [ ]:
"a,b,c,def".split(",")

In [ ]:
"hello world".startswith("hello")

In [ ]:
"hello world".endswith("hello")

## Dictionaries - Python's `dict` type

`dict` construction is with either `{}` or `dict()`.

In [ ]:
x = {'key1': 'value1',
     'key2': 'value2',
    'key3': 'value3',
    }

In [ ]:
x

In [ ]:
x['key1']

In [ ]:
key = "key3"

In [ ]:
x[key]

In [ ]:
x = dict(   (('key1', 'value1'), ['key2', 'value2'])    )

In [ ]:
x

In [ ]:
type(x)

Keys in a `dict` can be any value that is *hashable*.

In [ ]:
x={1:'value1', 2:'value2'}

In [ ]:
x[1]

In [ ]:
x={(1,2,3): "456"}
x

In [ ]:
x[(1,2,3)]

In [ ]:
x={[1,2,3]: "456"}
x

In [ ]:
x = {'key1':1, 'key2':2, 'key3':123456, 'key4': [1,2,3], 'key5': {}, 1234: 4321}

In [ ]:
x

Just like we can iterate over items in a list, we can iterate over the keys in a dict:

In [ ]:
for key in x:
    print(key)

In [ ]:
for key in x:
    value = x[key]
    print("key: {}, value: {}".format(key,value))

In [ ]:
x['key5']

In [ ]:
x['my new key'] = 9843059

In [ ]:
x

In [ ]:
x['key5']['hello'] = 'world'

In [ ]:
x

In [ ]:
tmp = x['key5']
tmp['hello'] = 'world 2'

In [ ]:
x

In [ ]:
1 in x

In [ ]:
'key X' in x

## More about functions: keyword arguments

In [ ]:
def my_function(x, z=1):
    return x+z*z

In [ ]:
my_function(9)

In [ ]:
my_function(9,11)

In [ ]:
my_function(9,z=11)

In [ ]:
my_function(x=9,z=11)

In [ ]:
my_function(z=11)

In [ ]:
my_function(z=11,x=9)

In [ ]:
my_function(z=11,9)

In [ ]:
def my_function2(x, y, z=1, qq=0):
    return x+z+qq+y

In [ ]:
my_function2(0,1)

In [ ]:
my_function2(0,1,qq=-32)

## The `+` operator on various data types

In [ ]:
1+1

In [ ]:
1 + 2.3

In [ ]:
"1"+1

In [ ]:
1+"1"

In [ ]:
"1"+"1"

In [ ]:
"1   x" + "1   y"

In [ ]:
[1]+1

In [ ]:
[1] + [1]

In [ ]:
x=[1]
y=[1]
z=x+y
z

In [ ]:
list.__add__([1], [1])

In [ ]:
x=[1]
x.append(1)
x

In [ ]:
int.__add__(1, 3)

In [ ]:
1 + 3

Note: "joining" or "combining" one sequence to another is called *concatenating* the sequences. It works with lists of any length:

In [ ]:
[1,2,3] + [4,5,6]

In [ ]:
[1,2,3] + []

In [ ]:
[] + [1,2,3]

In [ ]:
(1,) + (1,)

In [ ]:
(1,) + 1

## The `*` operator on various data types

In [ ]:
1*5

In [ ]:
"1xz"*5

In [ ]:
"1xz"*"blah"

In [ ]:
[1,2,3]*5

## Special method: `object.__add__(other)`

Many of the bits of Python we have already been using are defined as "special methods". The names of these methods start and end with a double underscore `__`. They are not usually called directly, but rather Python calls these methods for some other reason. The first example is the "add" special method:

In [ ]:
six = 6
six.__add__(4)

In [ ]:
int.__add__(6,4)

In [ ]:
six+4

## Special method: `object.__getitem__(index)`

The special method `object.__getitem__(index)` is how python implements `object[index]`.

In [ ]:
x={0:1}

In [ ]:
x

In [ ]:
x[0]

In [ ]:
x.__getitem__(0)

In [ ]:
x={1:"value1"}

In [ ]:
x[1]

In [ ]:
x.__getitem__(1)

## Special method: `sequence.__len__()`

Another special method is `__len__`, which returns the length of a sequence.

In [ ]:
len(x)

In [ ]:
x.__len__()

## Special method: `object.__str__()`

Another special method is `__str__`, which returns a string representation of the object.

In [ ]:
x.__str__()

In [ ]:
print(x)

In [ ]:
"my value is: {}".format(x)

In [ ]:
one = 1
one.__str__()

In [ ]:
"my value is: {}".format(1)

# Abstract *interfaces* in python

`for` loops iterate over "iterables". You can construct a `list` (or a `dict`) from iterables.

Functions and methods are "callable".

Getting items with square brackets (e.g. `x[0]`) works by calling the `__getitem__` method (so, `x.__getitem__(0)`). Any type can define how this works for that type.

## More on iterators

There are a couple of very handy functions which take an iterable and return a new iterator:

- `enumerate` - returns iterator with index of items
- `zip` - returns iterator combinding two other iterators

In [ ]:
my_list = ['abc', 'def', 'ghi']
for idx, item in enumerate(my_list):
    print(f"{idx}: {item}")

In [ ]:
my_list = ['abc', 'def', 'ghi']
for (item, color) in zip(my_list, ['red', 'green', 'blue']):
    print(f"{item} {color}")

# Iteration over data for data science

We are going to look at data in *tables* where each *row* of the table contains measurements or values about a single thing and each *column* is the measurement type. Such tables are very common in data science.

(Loading the iris data is hidden in this cell. You can ignore this.)
<!--
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
df= pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                 columns= iris['feature_names'] + ['target'])
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
df = df.drop('target',axis=1)
def to_dict(df):
    result = {}
    for column_name in df.columns:
        result[column_name] = []
    for i,row in df.iterrows():
        for column_name in df.columns:
            result[column_name].append( row[column_name] )
    return result
iris_dict = to_dict(df)
print(iris_dict)
-->

Here is an example of the data we will be looking at. It is a subsampling of the very famous [Iris data set](https://en.wikipedia.org/wiki/Iris_flower_data_set).

<table class="dataframe" border="1">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sepal length (cm)</th>
      <th>sepal width (cm)</th>
      <th>petal length (cm)</th>
      <th>petal width (cm)</th>
      <th>species</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>4.8</td>
      <td>3.4</td>
      <td>1.6</td>
      <td>0.2</td>
      <td>setosa</td>
    </tr>
    <tr>
      <th>81</th>
      <td>5.5</td>
      <td>2.4</td>
      <td>3.7</td>
      <td>1.0</td>
      <td>versicolor</td>
    </tr>
    <tr>
      <th>97</th>
      <td>6.2</td>
      <td>2.9</td>
      <td>4.3</td>
      <td>1.3</td>
      <td>versicolor</td>
    </tr>
    <tr>
      <th>37</th>
      <td>4.9</td>
      <td>3.6</td>
      <td>1.4</td>
      <td>0.1</td>
      <td>setosa</td>
    </tr>
    <tr>
      <th>31</th>
      <td>5.4</td>
      <td>3.4</td>
      <td>1.5</td>
      <td>0.4</td>
      <td>setosa</td>
    </tr>
    <tr>
      <th>28</th>
      <td>5.2</td>
      <td>3.4</td>
      <td>1.4</td>
      <td>0.2</td>
      <td>setosa</td>
    </tr>
    <tr>
      <th>141</th>
      <td>6.9</td>
      <td>3.1</td>
      <td>5.1</td>
      <td>2.3</td>
      <td>virginica</td>
    </tr>
    <tr>
      <th>149</th>
      <td>5.9</td>
      <td>3.0</td>
      <td>5.1</td>
      <td>1.8</td>
      <td>virginica</td>
    </tr>
  </tbody>
</table>

For now, the data are given as a `dict`. This `dict` is created in a special way, where each key is the column name and each value is a list of the entry for each row for that column. Later we will read this from a file.

In [ ]:
iris_dataset = {'sepal length (cm)': [5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4, 4.8, 4.8, 4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5.0, 5.0, 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5.0, 5.5, 4.9, 4.4, 5.1, 5.0, 4.5, 4.4, 5.0, 5.1, 4.8, 5.1, 4.6, 5.3, 5.0, 7.0, 6.4, 6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5.0, 5.9, 6.0, 6.1, 5.6, 6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7, 6.0, 5.7, 5.5, 5.5, 5.8, 6.0, 5.4, 6.0, 6.7, 6.3, 5.6, 5.5, 5.5, 6.1, 5.8, 5.0, 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3, 6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5, 7.7, 7.7, 6.0, 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2, 7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6.0, 6.9, 6.7, 6.9, 5.8, 6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9], 'sepal width (cm)': [3.5, 3.0, 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, 3.1, 3.7, 3.4, 3.0, 3.0, 4.0, 4.4, 3.9, 3.5, 3.8, 3.8, 3.4, 3.7, 3.6, 3.3, 3.4, 3.0, 3.4, 3.5, 3.4, 3.2, 3.1, 3.4, 4.1, 4.2, 3.1, 3.2, 3.5, 3.6, 3.0, 3.4, 3.5, 2.3, 3.2, 3.5, 3.8, 3.0, 3.8, 3.2, 3.7, 3.3, 3.2, 3.2, 3.1, 2.3, 2.8, 2.8, 3.3, 2.4, 2.9, 2.7, 2.0, 3.0, 2.2, 2.9, 2.9, 3.1, 3.0, 2.7, 2.2, 2.5, 3.2, 2.8, 2.5, 2.8, 2.9, 3.0, 2.8, 3.0, 2.9, 2.6, 2.4, 2.4, 2.7, 2.7, 3.0, 3.4, 3.1, 2.3, 3.0, 2.5, 2.6, 3.0, 2.6, 2.3, 2.7, 3.0, 2.9, 2.9, 2.5, 2.8, 3.3, 2.7, 3.0, 2.9, 3.0, 3.0, 2.5, 2.9, 2.5, 3.6, 3.2, 2.7, 3.0, 2.5, 2.8, 3.2, 3.0, 3.8, 2.6, 2.2, 3.2, 2.8, 2.8, 2.7, 3.3, 3.2, 2.8, 3.0, 2.8, 3.0, 2.8, 3.8, 2.8, 2.8, 2.6, 3.0, 3.4, 3.1, 3.0, 3.1, 3.1, 3.1, 2.7, 3.2, 3.3, 3.0, 2.5, 3.0, 3.4, 3.0], 'petal length (cm)': [1.4, 1.4, 1.3, 1.5, 1.4, 1.7, 1.4, 1.5, 1.4, 1.5, 1.5, 1.6, 1.4, 1.1, 1.2, 1.5, 1.3, 1.4, 1.7, 1.5, 1.7, 1.5, 1.0, 1.7, 1.9, 1.6, 1.6, 1.5, 1.4, 1.6, 1.6, 1.5, 1.5, 1.4, 1.5, 1.2, 1.3, 1.4, 1.3, 1.5, 1.3, 1.3, 1.3, 1.6, 1.9, 1.4, 1.6, 1.4, 1.5, 1.4, 4.7, 4.5, 4.9, 4.0, 4.6, 4.5, 4.7, 3.3, 4.6, 3.9, 3.5, 4.2, 4.0, 4.7, 3.6, 4.4, 4.5, 4.1, 4.5, 3.9, 4.8, 4.0, 4.9, 4.7, 4.3, 4.4, 4.8, 5.0, 4.5, 3.5, 3.8, 3.7, 3.9, 5.1, 4.5, 4.5, 4.7, 4.4, 4.1, 4.0, 4.4, 4.6, 4.0, 3.3, 4.2, 4.2, 4.2, 4.3, 3.0, 4.1, 6.0, 5.1, 5.9, 5.6, 5.8, 6.6, 4.5, 6.3, 5.8, 6.1, 5.1, 5.3, 5.5, 5.0, 5.1, 5.3, 5.5, 6.7, 6.9, 5.0, 5.7, 4.9, 6.7, 4.9, 5.7, 6.0, 4.8, 4.9, 5.6, 5.8, 6.1, 6.4, 5.6, 5.1, 5.6, 6.1, 5.6, 5.5, 4.8, 5.4, 5.6, 5.1, 5.1, 5.9, 5.7, 5.2, 5.0, 5.2, 5.4, 5.1], 'petal width (cm)': [0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1, 0.2, 0.2, 0.1, 0.1, 0.2, 0.4, 0.4, 0.3, 0.3, 0.3, 0.2, 0.4, 0.2, 0.5, 0.2, 0.2, 0.4, 0.2, 0.2, 0.2, 0.2, 0.4, 0.1, 0.2, 0.2, 0.2, 0.2, 0.1, 0.2, 0.2, 0.3, 0.3, 0.2, 0.6, 0.4, 0.3, 0.2, 0.2, 0.2, 0.2, 1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6, 1.0, 1.3, 1.4, 1.0, 1.5, 1.0, 1.4, 1.3, 1.4, 1.5, 1.0, 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7, 1.5, 1.0, 1.1, 1.0, 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2, 1.4, 1.2, 1.0, 1.3, 1.2, 1.3, 1.3, 1.1, 1.3, 2.5, 1.9, 2.1, 1.8, 2.2, 2.1, 1.7, 1.8, 1.8, 2.5, 2.0, 1.9, 2.1, 2.0, 2.4, 2.3, 1.8, 2.2, 2.3, 1.5, 2.3, 2.0, 2.0, 1.8, 2.1, 1.8, 1.8, 1.8, 2.1, 1.6, 1.9, 2.0, 2.2, 1.5, 1.4, 2.3, 2.4, 1.8, 1.8, 2.1, 2.4, 2.3, 1.9, 2.3, 2.5, 2.3, 1.9, 2.0, 2.3, 1.8], 'species': ['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica']}

In [ ]:
for column_name in iris_dataset:
    print(column_name)

Let's double check that every column (the value of each key) has the same number of rows.

In [ ]:
for column_name in iris_dataset:
    column = iris_dataset[column_name]
    print("'{}': {} rows".format(column_name, len(column)))

Now let's compute the average value for each measurement across all of our data.

In [ ]:
def compute_average(my_list):
    assert type(my_list)==list
    accum = 0.0
    for item in my_list:
        accum = accum + item
    average = accum / len(my_list)
    return average

for column_name in iris_dataset:
    if column_name == 'species':
        continue
    average = compute_average(iris_dataset[column_name])
    print("'{}' average: {}".format(column_name, average))

Let's see what species we have in our data.

In [ ]:
known_species = {}
count = 0
for row_species in iris_dataset['species']:
    known_species[row_species] = None
    count = count + 1

print(count)
for species in known_species:
    print(species)

In [ ]:
known_species

In [ ]:
known_species = {}
for row_species in iris_dataset['species']:
    if row_species in known_species:
        known_species[row_species] = known_species[row_species] + 1
    else:
        known_species[row_species] = 1

print(known_species)

In [ ]:
known_species

Now, we will want to calculate values for each species, not across all measurements. This is going to be a little tricky, because we need to calculate which species is in which row. As our first step, we will figure this out.

In [ ]:
rows_for_species = {'setosa':[], 'versicolor':[], 'virginica':[]}
for species_name in rows_for_species:
    # print(species_name)
    row_index = 0
    for row_species in iris_dataset['species']:
        # print(row_index, row_species)
        if row_species == species_name:
            rows_for_species[species_name].append(row_index)
        row_index = row_index + 1

In [ ]:
rows_for_species

Let's check if this worked by building a list for each species of each column.

In [ ]:
for species_name in rows_for_species:
    species_indexes = rows_for_species[species_name]
    for column_name in iris_dataset:
        all_rows_for_this_column = iris_dataset[column_name]
        this_species_values = []
        for species_index in species_indexes:
            row_value = all_rows_for_this_column[species_index]
            this_species_values.append(row_value)
        print(f"{species_name} {column_name} {this_species_values}")

# reading CSV files

In [ ]:
fobj = open("iris.csv")

In [ ]:
for line in fobj.readlines():
    print(line)

In [ ]:
fobj = open("iris.csv")
for line_num, line in enumerate(fobj.readlines()):
    print(line)
    if line_num > 5:
        break

In [ ]:
fobj = open("iris.csv")
for line_num, line in enumerate(fobj.readlines()):
    line = line.strip()
    print(line)
    if line_num > 5:
        break

In [ ]:
fobj = open("iris.csv")
for line_num, line in enumerate(fobj.readlines()):
    line = line.strip()
    entries = line.split(',')
    print(f"{line_num}: {entries}")
    if line_num > 5:
        break

In [ ]:
fobj = open("iris.csv")
iris_dataset_from_csv = {}
for line_num, line in enumerate(fobj.readlines()):
    line = line.strip()
    entries = line.split(',')
    #print(f"{line_num}: {entries}")
    if line_num==0:
        column_names = entries
        for entry in entries:
            iris_dataset_from_csv[entry] = []
    else:
        for column_name, entry in zip(column_names,entries):
            column_list = iris_dataset_from_csv[column_name]
            if column_name != 'species':
                entry = float(entry)
            column_list.append(entry)

In [ ]:
iris_dataset_from_csv == iris_dataset

In [ ]:
plt.plot(iris_dataset_from_csv['sepal width (cm)'], iris_dataset_from_csv['petal width (cm)'],'o');

In [ ]:
plt.plot(iris_dataset['sepal width (cm)'], iris_dataset['petal width (cm)'],'o');

# discussion

This is "the hard way".

What is stored in CSV files? How are they structured?